<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <table class="Table">
        <thead>
            <tr>
                <th scope="col">Room ID</th>
                <th scope="col">Room Name</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.0 }}</th>
                <td>{{ room.1 }}</td>
                <td>{{ room.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <form method="POST">
            <input type="text" name="r_name" value="Name">
            <input type="submit" name="add" value="Add">
        </form>
    </div>
</body>
</html>