<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div>
        <form method="POST">
            {% for room in rooms %}
                <p>Nazwa sali: {{ room.1 }}</p>
                <input type="submit" name="delete" value="DELETE">
            {% endfor %}
        </form>
    </div>
    <div>
        <form method="POST">
            <input type="text" name="r_name" value="Name">
            <input type="submit" name="add" value="Add">
        </form>
    </div>
</body>
</html>