{% extends "base.html" %}
{% block title %}RoomApp - Reservations{% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Room Name</th>
        <th scope="col">Reserved From</th>
        <th scope="col">Reserved Until</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for res in resevs %}
    <tr>
        <th scope="row">{{ r.0 }}</th>
        <td>{{ r.1 }}</td>
        <td>{{ r.2 }}</td>
        <td>{{ r.3 }}</td>
        <td>
            <form action="/delete/{{ room.0 }}/" method="GET">
                <input type="image" name="id" value="{{ room.0 }}" src="../static/delete.svg" alt="delete">
            </form>
            <form action="/edit/{{ room.0 }}/" method="GET">
                <input type="image" name="id" value="{{ room.0 }}" src="../static/edit.svg" alt="edit">
            </form>
            <form action="/view/{{ room.0 }}/" method="GET">
                <input type="image" name="id" value="{{ room.0 }}" src="../static/view.svg" alt="view">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}