{% extends "base.html" %}
{% block content %}
<table class="table">
  <thead>
  <th>
    <tr>
      <td>#<td>
      <td>Room name</td>
      <td>Available</td>
      <td>Action</td>
    </tr>
  </th>
  </thead>
  <tr>
    <td>{{ room.id }}</td>
    <td>{{ room.name }}</td>
    <td>{{ room.available }}</td>
    <td>
      <form action="rooms/edit/{{ room.id }}/" method="GET">
          <input type="image" name="id" value="{{ room.0 }}" src="../static/edit.svg" alt="edit">
      </form>
      <form action="rooms/delete/{{ room.id }}/" method="GET">
          <input type="image" name="id" value="{{ room.0 }}" src="../static/delete.svg" alt="delete">
      </form>
    </td>
  </tr>
</table>
{% endblock %}
