{% extends "base.html" %}
{% load static %}
{% block title %} RoomApp - Room List {% endblock %}
{% block content %}
    <a class="btn btn-success" href="add/" role="button">Add Room</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Projector included?</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
        <tr>
            <th scope="row">{{ room.id }}</th>
            <td>{{ room.name }}</td>
            <td>{{ room.capacity }}</td>
            <td>{% if room.capacity is True %}Yes{% else %}No{% endif %}</td>
            <td>
                <form action="delete/{{ room.id }}/" method="GET">
                    <input type="image" name="id" value="{{ room.0 }}" src="{% static "images/delete.svg" %}" alt="delete">
                </form>
                <form action="edit/{{ room.id }}/" method="GET">
                    <input type="image" name="id" value="{{ room.0 }}" src="{% static "images/edit.svg" %}" alt="edit">
                </form>
                <form action="view/{{ room.id }}/" method="GET">
                    <input type="image" name="id" value="{{ room.0 }}" src="{% static "images/view.svg" %}" alt="view">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
