<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>{% block title %}RoomApp{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

{% block content %}
    <a class="btn btn-success" href="add/" role="button">Add Room</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Room Name</th>
            <th scope="col">Capacity</th>
            <th scope="col">Projector included?</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <th scope="row">{{ room.0 }}</th>
                <td>{{ room.1 }}</td>
                <td>{{ room.2 }}</td>
                <td>{% if room.3 is True %}Yes{% else %}No{%  endif %}</td>
                <td>
                    <form action="delete/{{ room.0 }}/" method="GET">
                        <input type="image" name="id" value="{{ room.0 }}" src="../static/delete.svg" alt="delete">
                    </form>
                    <form action="edit/{{ room.0 }}/" method="GET">
                        <input type="image" name="id" value="{{ room.0 }}" src="../static/edit.svg" alt="edit">
                    </form>
                    <form action="view/{{ room.0 }}/" method="GET">
                        <input type="image" name="id" value="{{ room.0 }}" src="../static/view.svg" alt="view">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>